{% extends theme('main.jinja2') %}
{% block content %}

    <section>
        <h1>Welcome</h1>

        <div class="content">
            <h3>Using NSI OpenNSA</h3>

            <p>OpenNSA ({{ s.nsaId }}) is a NSI Aggregator supporting the NSI v2 specification.</p>

            <p>The following service end points are implemented:</p>
            <ul>
                <li>Provider Service URL: <a href="{{ s.providerURL }} ">{{ s.providerURL }} </a></li>
                <li>Discovery Service URL: <a href="{{ s.discoveryURL }} ">{{ s.discoveryURL }}</a></li>
                <li>Topology URL: <a href="{{ s.topologyURL }} ">{{ s.topologyURL }}</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
