{% from "macros.jinja2" import nav_link with context %}
{% import theme("settings.jinja2") as s %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ s.title }}</title>
    <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="/static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="{{ s.favicon }}">
</head>
<body>
<div class="wrapper">
    <header>
        {{ s.headertext }}
    </header>
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                {% block navigation %}
                    <ul class="nav">
                        {{ nav_link("usage","Home") }}
                        {{ nav_link("connections","Connections") }}
                    </ul>
                {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
        no content
    {% endblock %}
    <footer>
        <div class="content-some-dense">
            {% block footer %}
                {{ s.footertext }}
            {% endblock %}
        </div>
    </footer>
</div>
<script language="JavaScript" src="static/js/jquery-2.0.0.min.js"></script>
<script language="JavaScript" src="static/js/main.js"></script>
<script language="JavaScript" src="static/js/table.js"></script>
<script language="JavaScript" src="static/js/prettify.min.js"></script>
<script language="JavaScript">window.jQuery || document.write('<script src="static/js/jquery-2.0.0.min.js"><\/script>')</script>
</body>