{% set nsaId="urn:ogf:network:uvalight.net:2013" %}
{% set providerURL="https://nsa.uvalight.net:9443/NSI/services/CS2" %}
{% set discoveryURL="https://nsa.uvalight.net:9443/NSI/discovery.xml" %}
{% set topologyURL="https://nsa.uvalight.net:9443/NSI/uvalight.net:2013.nml.xml" %}
{% set title="nsa.uvalight.net" %}
{% set favicon="/static/images/uva-favicon.ico" %}
{% set footertext="" %}
{% set headertext="<h1>OpenNSA connection status</h1>"%}
